<section style=" background-color: #2772ed;">
  <div
    class="mx-auto w-full lg:px-24 md:px-12 items-center px-8 py-24 dotted-pattern"
    style=" background-color: #2772ed;"
  >
    <div>
      <div style="margin-top: 0px; " class="text-center mx-auto">
        <div class="sm:flex sm:justify-center"></div>
        <p
          class="text-6xl tracking-tight text-black md:text-5xl font-display hero-heading"
          style="color: #fdfdfd;    font-weight: 550;line-height: 1.2em; font-size:50px"
        >
          Convert Files From one type to Other <span style="color:#ACEC59"
            >like a Pro</span
          >
        </p>

        <p
          class="lg:text-xl max-w-2xl mt-4 mx-auto text-base hero-subheading"
          style=" color: #fdfdfd;"
        >
        </p>
        <!--  <p style="color:#ACEC59;font-size: 28px;font-weight: 550;">Optimize Your Content in Google Docs for SEO</p>-->
      </div>

      <!--   <ul class="hero-list">
        <li>✓ Preserves formatting</li><li>✓ Includes images</li>
      </ul> -->

      <!-- To Display font awesome grid icons -->
      <div class="home-icons-grid">
        <div class="home-grid-item">
          <i class="fas fa-lock"></i>
          <p>Safe & Secure</p>
        </div>
    
        <div class="home-grid-item">
            <i class="fa-solid fa-gopuram"></i>
            <p>Convert using template</p>
          </div>
        <div class="home-grid-item">
            <i class="fa-regular fa-file-word"></i>
            <p>Convert any file type (Word, RTF, html, Markdown, ODT)</p>
          </div>
     
        <div class="home-grid-item">
          <i class="fa-regular fa-file"></i>
          <p>Large file mode</p>
        </div>
        
        
        <div class="home-grid-item">
          <i class="fa-solid fa-download"></i>
          <p>Auto Download Output files</p>
        </div>
      </div>
      <div
        class="hero-subheading fdfdfd"
        style="margin-top: 60px; text-align: center;font-size: 24px; color: #fdfdfd;"
      >
        Our products are used by a growing community of over 4,000 people
        worldwide.
      </div>

      <div
        style="margin-top: 50px; text-align: center;font-size: 24px; color: #fdfdfd;"
      >
        <button
          style="background-color: #21b577; color: #ffffff;"
          class="hover:bg-white hover:text-black text-gray-800 py-2 px-4 rounded inline-flex items-center"
          onmouseover="this.style.backgroundColor='#ffffff'; this.style.color='#000000'"
          onmouseout="this.style.backgroundColor='#21b577'; this.style.color='#ffffff'"
        >
          <a
            href="https://workspace.google.com/marketplace/app/bulk_converter_pro/327730061402"
            target="_blank"
            style="color: inherit;">Get started for free</a
          >
        </button>
      </div>
    </div>
  </div>
</section>
