<div style=" background-color: #2772ed;">
    <div
      class="max-w-screen-xl mx-auto px-4 py-3 flex items-start justify-between text-white sm:items-center md:px-8"
    >
      <div
        class="flex-1 justify-center flex items-start gap-x-4 sm:items-center"
      >
        <div
          class="flex-none p-1.5 px-4 rounded-full flex items-center justify-center font-medium text-sm"
        >
          <img src="/Google_Cloud_Partner_outline_horizontal_small.png" />
        </div>
        <p class="font-medium p-2">
          Built for Google Workspace by an Official Google Cloud Partner -
          Trusted expertise to streamline your Google Docs to Markdown workflow.
        </p>
      </div>
    </div>
  </div>